<?xml version="1.0" encoding="utf-8"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.serviceModel>
    <client>
      <endpoint address="http://wsicrpilotservice.prod2.autoonline.local/ICRpilotService.svc" name="ICRpilotServiceBinding" xdt:Transform="SetAttributes"
                xdt:Locator="Match(name)" />
      <endpoint address="http://wsicrrepositoryservice.prod2.autoonline.local/IcrRepositoryService.svc" name="IIcrRepositoryService" xdt:Transform="SetAttributes"
                xdt:Locator="Match(name)" />
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="VinServiceUrl" value="http://wsvinservice.prod2.autoonline.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="maxDocumentHandlingSeconds" value="3600" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="environment" value="ao-prod2" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </nlog>
</configuration>